/* Pages -> Home Styles */

#pressHome {
    background: $color-secondary;
    color: $color-background;
}

#workHome {
    background: $color-tertiary;
    color: $color-background;
}

#hireme {
    .button {
        margin-left: 0
    }
    background: $color-primary;
    color: $color-background;
}

#pressContent {
    .subtitle {
        font-size: .5em;
    }
    h2 {
        margin-bottom: 2rem;
    }
    h3 {
        font-weight: 400;
    }
    img {
        width: 150px;
        height: auto;
        max-height: 100px;
    }
}


.pressQuote {
    padding-bottom: 15px;
    margin: 0 0 40px 0;
    .subtitle {
        display: none;
    }
}
