/* Pages -> Home Styles */

#workHome {
    background: $color-secondary;
    color: $color-background;
}

#pressHome {
    background: $color-tertiary;
    color: $color-background;
}

#workHomeContent {
    .logo {
        width: 200px;
    }
    .pos-lg-sticky {
        top: 0;
        left: 0;
    }
    @include mq($from:tablet) { // fix issue where fixed paragraph might be covered by a small-height screen
        [data-fix-child] {
            overflow: scroll;
            max-height: calc(100% - 81px); // header height
        }
    }
}

#hireme {
    .button {
        margin-left: 0
    }
    background: $color-primary;
    color: $color-background;
    a {
        color: inherit;
    }
}

.pressContent {
    .subtitle {
        font-size: .5em;
    }
    p {
        font-weight: 600
    }
    h2 {
        margin-bottom: 2rem;
    }
    img {
        width: 150px;
        height: auto;
        max-height: 100px;
    }
}


.pressQuote {
    padding-bottom: 15px;
    margin: 0 0 40px 0;
    .subtitle {
        display: none;
    }
}
