/* Layout -> Header Styles */

header.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include transition-all;
    z-index: 1;
    transform: translateY(-100%);
    &[data-js-scrolled] {
        background: $color-background;
        box-shadow: 0px -8px 20px 0 grey;
        transform: translateY(0)
    }
    h2 {
        margin: 0;
    }
    .header__item {
        font-weight: bold;
        padding: 15px;
        text-align: center;
        min-width: 50px;
        &.linkedin {
            background: #1178B3;
            color: white;
        }
        &.dribbble {
            background: #ea4c89;
            color: white;
        }
        &.github {
            background: black;
            color: white;
        }
    }
}

.yipee {
    width: 0;
    height: 3px;
    background: $color-primary;
    z-index: 2;
}
