/* Components -> Cover Styles */

.cover {
    position: relative;
    overflow: hidden;
    padding: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @include mq($from: tablet) {
        height: 100vh;
        max-height: 650px;
        min-height: 60vh;
    }
    &[id*='First'] {
        overflow: visible;
        margin: 0;
    }
    & > div {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
    .buttonList {
//        display: none;
        .buttonWrapper {
            -webkit-animation-duration: .6s;
            animation-duration: .6s;
            &:nth-of-type(2) {
                -webkit-animation-delay: .1s;
                animation-delay: .1s;
            }
        }
    }
}
