/* Themes -> Theme partial */

// General Styles
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}
html {
    overflow-x: hidden;
}
body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content {
	margin: 80px 0;
    img {
        margin-bottom: 10px;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
