/* Base -> Typography Styles */

* {
    font-family: map-get($font, 'familyPrimary');
}

body {
    font-size: 140%;
    color: map-get($color, 'foreground');
}

h1 {
    @include mq($from: tablet) {
        font-size: 3em;
    }
    @include mq($from: desktop) {
        font-size: 3.5em;
    }
}

h1,
h2 {
    font-weight: bold;
}

.subtitle {
    font-family: 'oxide solid pro'
}

.gradientText {
    background: -webkit-linear-gradient(180deg, #a13bfd, #32dbf1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include transition-all;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-weight: 600;
    &:not(.button) {
        color: $color-primary;
        will-change: color;
        -webkit-transition: color .25s ease;
        transition: color .25s ease;
    }
    &:hover {
        color: $color-secondary;
        text-decoration: none;
    }
}

// Highlighting text
::-moz-selection {
    /* Code for Firefox */
    color: map-get($selection, 'background');
    background: map-get($selection, 'color');
}

::-moz-selection {
    /* Code for Firefox */
    color: map-get($selection, 'background');
    background: map-get($selection, 'color');
}

::selection {
    /* Code for Firefox */
    color: map-get($selection, 'background');
    background: map-get($selection, 'color');
}
