.tablet-hidden {
    @include mq($from: tablet) {
        display: none;
    }
}

.overflowHidden {
    overflow: hidden;
}

.center {
	text-align: center;
}

.hideUp {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.animate-delay-25s {
    animation-delay: .25s;
}

.animate-delay-40s {
    animation-delay: .4s;
}

.animate-delay-50s {
    animation-delay: .5s;
}